<form asp-action="InHoaChuDau">
    <label>Nhập chuỗi:</label>
    <input type="text" name="strInput">
    <br>
    <br>
    <input type="submit" value="InHoaChuDau">
 </form>
<h3> @ViewBag.thongbao</h3>